<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
     xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
     xmlns:flux="http://typo3.org/ns/FluidTYPO3/Flux/ViewHelpers"
     xmlns:f="http://typo3.org/ns/fluid/ViewHelpers">
    <f:layout name="Default" />

    <f:section name="main">

        <div class="panel-group" id="accordion--{iPluginUid}" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="heading--{iPluginUid}">
                    <h4 class="panel-title">
                        <a class="btn btn__plus--secondary" role="button" data-toggle="collapse" data-target="#collapse--{iPluginUid}" data-parent="#accordion--{iPluginUid}" href="javascript:;" aria-expanded="true" aria-controls="collapse--{iPluginUid}" style="margin:0;">
                            <f:translate key="LLL:EXT:hive_ext_country/Resources/Private/Language/translation.xlf:filter.selectCountries" />
                        </a>
                    </h4>
                </div>
                <div id="collapse--{iPluginUid}" class="panel-collapse collapse {sIn}" role="tabpanel" aria-labelledby="heading--{iPluginUid}">
                    <div class="panel-body">
                        <a name="c_{iPluginUid}" id="c_{iPluginUid}"></a>
                        <f:form actionUri="{sRequestUri}#c_{iPluginUid}">
                            <div class="row">
                                <f:for each="{aCountriesSelectState}" as="aCountry">
                                    <div class="col-sm-4">
                                        <f:form.checkbox name="selectedCountries" value="{aCountry.0.uid}" multiple="1" checked="{aCountry.1}"/> &nbsp;{aCountry.0.title}<br>
                                    </div>
                                </f:for>
                            </div>
                            <div class="row">
                                <div class="col-sm-3 col-sm-offset-9">
                                    <f:form.submit class="btn btn-primary btn-block" value="{f:translate(key: 'LLL:EXT:hive_ext_country/Resources/Private/Language/translation.xlf:filter.search', extensionName: 'hive_ext_country')}" />
                                </div>
                            </div>
                        </f:form>
                    </div>
                </div>
            </div>
        </div>

    </f:section>
</div>